/* General styles */

:root {
  --back: grey;
  --body9: blue;
  --back: grey;
  --body: rgb(0 0 0);
  --body0: rgb(15 15 15);
  --body00: rgb(30 30 30);
  --body2: rgb(45 45 45);
  --body3: rgb(60 60 60);
  --body4: rgb(75 75 75);
  --body5: rgb(90 90 90);

  --text-color-default: white;
  --text-color-opp: black;

  --comp: white;
  --main-font: chrono;
  --sec-font: sans-serif;
  --nav-font: chrono;
  --button: #ffffff;
  --nav-text-size: 2.5rem;
}

html {
  height: 100%;
  font-size: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  box-sizing: border-box;
}

body {
  min-height: 100%;

  background-color: var(--body);
  font-family: var(--main-font);
}

button {
  background: transparent;
  box-shadow: none;
  border: none;
}

#default {
  color: var(--text-color-default);
}

#opp {
  color: var(--text-color-opp);
}

.none {
  display: none;
}

.gen-box {
  background: var(--body4);
  font-family: var(--nav-font);
  border-radius: 1rem;
  outline: var(--body5) 0.5rem solid;
  padding: 0.25rem;
  display: flexbox;
}

.gen-button {
  background: var(--body4);
  font-family: var(--nav-font);
  border-radius: 1rem;
  outline: var(--body5) 0.25rem solid;
  padding: 0.5rem;
  margin: 1rem;
}

.gen-button > h1, h2 {
  margin: 0;
}

.spec-button {
  background: var(--body4);
  font-family: var(--nav-font);
  border-radius: 100vmax;
  outline: var(--body5) 0.1rem solid;
  /* min-width: 20vw; */
  /* margin: auto; */
  padding: 0.25rem;
  margin: 0.5rem;
}

.spec-button > h1, h2 {
  margin: 0;
}

.gen-button:hover,
.spec-button:hover {
  cursor: grab;
  background: var(--body5);
}

.article {

  height: clamp(36vmax, 40vmax, 44vmax);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: var(--body2);
  border-radius: 1rem;
  text-align: center;
} 

.article-head {
  border-radius: 1rem 1rem 0 0;
  grid-row: 1;
  grid-column: span 3;
  /* margin-left: 7vw;
  margin-right: 7vw; */
  background-color: var(--body4);
}
.article-foot {
  border-radius: 0 0 1rem 1rem;
  grid-row: 1;
  grid-column: span 3;
  /* margin-left: 7vw;
  margin-right: 7vw; */
  background-color: var(--body4);
}

.article-nest {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: var(--body2);
  border-radius: 1rem;
  text-align: left;
}

.a-top {
  grid-row: 1;
}
.a-middle {
  grid-row: 2;
}
.a-bottom {
  grid-row: 3;
}
.a-left {
  grid-column: 1;
}
.a-right {
  grid-column: 3;
}
.a-center {
  grid-column: 2;
}

.x-center {
  justify-self: center;
}

.x-start {
  justify-self: start;
}

.y-center {
  align-self: center;
}

.y-start {
  align-self: start;
}

input[type="text"] {
}

form {
  margin: auto;
}

@font-face {
  font-family: "chrono";
  src: url("./chronotype/ChronoType.ttf");
}

h1.disabled:hover,
h2.disabled:hover,
h3.disabled:hover,
h4.disabled:hover,
p.disabled:hover {
  cursor: not-allowed;
}

.boujee-text {
  /* cursor: pointer; */
  --bg-size: 400%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  --color-three: var(--text-color-default);
  font-size: var(--nav-text-size);
  background: linear-gradient(
      90deg,
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-two),
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 12s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.boujee-text-opp {
  /* cursor: pointer; */
  --bg-size: 400%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  --color-three: var(--text-color-opp);
  font-size: var(--nav-text-size);
  background: linear-gradient(
      90deg,
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-two),
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three),
      var(--color-three)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 12s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.non-boujee-text {
  font-size: var(--nav-text-size);
}

.tiny-text {
  color: white;
  font-size: 1.5rem;
  padding-top: 0.3rem;
  margin: auto;
  font-family: var(--nav-font);
  text-align: center;
}

.black {
  color: black;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

.link-style {
  text-decoration: none;
}

/* Nav Styles */

.nav {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.nav-child {
  border-radius: 1rem;
  padding-right: 2vw;
  padding-left: 2vw;
  font-family: var(--nav-font);
}

.nav-child:hover {
  background: var(--body0);
}

.title,
.spawn,
.battle,
.toggle {
  cursor: grab;
}

.nav-active {
  background: rgb(45, 45, 45);
}

.nav-text {
  font-size: var(--nav-text-size);
  color: white;
}

.connect-text {
  font-size: 2.5rem;
  color: var(--comp);
}

.connected-text {
  font-size: 2.5rem;
  color: var(--comp);
}
.connect {
  grid-column: 9;
  cursor: grab;
}

.toggle {
  grid-column: 8;
}
.toggle:hover {
  color: var(--text-color-opp);
}

.small-nav {
  height: 1rem;
  background: white;
}

/* Welcome Styles */

.welcome-article {
  display: grid;
  overflow: hidden;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}

.clouds {
  background-image: url(./images/homepage.png);
  background-size: contain;
  width: auto;
}

.day {
  background-image: url(./images/mistylake\ copy.png);
  background-size: contain;
}
.bier {
  background-image: url(./images/bierlabdscpe.png);
  background-size: cover;
}

.calm-ocean {
  background-image: url(./images/calm-ocean.png);
  background-size: cover;
}

/* Set up Styles */

.article-join {
  height: clamp(20vmax, 40vmax, 40vmax);
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 0.618fr 1fr 1fr;
  background-color: var(--body2);
  border-radius: 1rem;
}

.join {
  grid-row: 2;
  grid-column: 2;
}

.create {
  grid-row: 2;
  grid-column: 4;
}

.sent {
  grid-row: 2 /4;
  grid-column: 4;
  text-align: center;
}

.received {
  grid-row: 2 /4;
  grid-column: 2;
  text-align: center;
}

.join-button {
  display: grid;
  grid-template-rows: auto;
}

/* Menu Styles */
.party-input {
}

.party-input:focus {
  initial-value: "";
}

/* Profile Style */

.profile {
  display: grid;
  grid-template-rows: auto;
  border: var(--body0) 0.25rem solid;
  border-radius: 1rem;
  background: var(--body3);
  padding: 1rem;

  color: var(--text-color-default);
}
.profile:hover {
  cursor: grab;
}
.wamoStatus > h1,
h3 {
  margin: 0;
}

.wamoTraits {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: solid 0.125rem black;
  
}

.wamoTraits > tr {
  border-bottom: 16px solid black;
  
}

.specTraits {
  /* border: solid green 0.1rem; */
  margin-top: 0.5rem;
  
}

.magicTraits {
  /* border: solid violet 0.1rem; */
  margin-top: 0.5rem;
}

.meeleeTraits {
  /* border: solid green 0.1rem; */
  margin-top: 0.5rem;
}


#health {
  color: red;
}

#mana {
  color: violet;
}

#stamina {
  color: green;
}

.abilitiesRow {
  border: var(--body3) solid 1rem;
}


/* Arena Styles */
.battleArena {
  padding-top: 0vh;
}

.battlegrid {
  margin: auto;
  border-radius: 1rem;
  background: var(--body2);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
}

.oozepits {
  margin: auto;
  border-radius: 1rem;
  float: left;
  background: var(--body5);
  width: 100%;
  height: 100%;
}


.battle-grid-head {
  /* float: left; */
  border-radius: 1rem 1rem 0 0;
  grid-row: 1;
  grid-column: span 3;
  display: grid;
  grid-template-rows: auto;
  /* margin-left: 7vw;
  margin-right: 7vw; */
  background-color: var(--body4);
}

.battle-grid-foot {
  border-radius: 0 0 1rem 1rem;
  grid-row: 3;
  grid-column: span 3;
  /* margin-left: 7vw;
  margin-right: 7vw; */
  background-color: var(--body4);
}

.commit-turn-box {
  display: grid;
  border-radius: 1rem;
  grid-template-rows: repeat(6, 1fr);
  background: var(--body3);
  padding: 1rem;
  color: var(--text-color-default);
  text-align: right;
}

.commit-p1 {
  border: orange 0.25rem solid;
}

.commit-p2 {
  border: blue 0.25rem solid;
}

.commit-turn-input {
}

.block {
  float: left;
}

.flex-container {
  display: flex;
}

.flex-child {
  text-align: center;
  align-items: center;
  flex: 1;
  display: flex;
}

.box-a {
  background: var(--back);
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.box-b {
  background: grey;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.player {
  background-color: blue;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.player:hover {
  cursor: grab;
  background-color: white;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}
.ad {
  background: orange;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.ad:hover {
  cursor: grab;
  background-color: white;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.showMove {
  background-color: green;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.showMove:hover {
  background-color: pink;
  cursor: grab;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.stageMove {
  background-color: white;
  cursor: grab;
  margin: 0.5px;
  width: 25px;
  height: 25px;
}

.lobby-form {
  display: flex;
  flex-direction: row;
}

.idents {
  display: none;
}

.idents:hover {
  display: -moz-box;
}

.loading {
  padding: 0px;
  color: black;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: "center";
  display: block;
}

.book {
  /* margin: auto; */
  outline: black solid 2px;
  border-radius: 3em;
  background-color: var(--body4);

  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.page {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-rows: 3fr 5fr 5fr 3fr;
}

.active {
  grid-column: 2;
  grid-row: 3;
  background-color: var(--body);
  color: white;
}

.wamo-title {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  /* align-self: center; */
}
.wamo-traits1 {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-self: start;
}
.wamo-traits2 {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: start;
}

.page h1 {
  margin: 0;
}

.controls {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  text-align: center;
  /* display: inline-block; */

  /* margin-top: 20px; */
}

.controls button {
  /* padding: 8px 12px; */

  /* border: none; */
  /* background-color: lightblue; */
  cursor: pointer;
}

.App {
  text-align: center;
}

.hero {
  height: 86vh;
  /* background: var(--body); */
}

.hero-grid {
  padding-top: 20vh;
  display: inline-block;
}

.item {
  /* border: black solid 2px; */
  justify-content: center;
  align-items: center;
  float: left;
  width: 20vw;
  height: 20vw;
  margin-left: 1vw;
  margin-right: 1vw;
  /* font-family: chrono; */
  display: block;
  background: var(--body5);
  font-family: var(--nav-font);
}
.services {
  height: 100vh;
  background: linear-gradient(var(--body2), var(--body3));
}
.blog {
  height: 100vh;
  background: linear-gradient(var(--body3), var(--body4));
}
.contact {
  height: 100vh;
  background: linear-gradient(var(--body4), var(--body5));
}

.link {
  text-decoration: none;
  display: inline;
  /* padding: 20px 20px; */
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

/* Spawn Styles */

/* utilities */

.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


